x-form x-text-input {
  width: 100%;
}

@media (min-width: 576px) {
  x-form x-text-input {
    max-width: 45%;
  }

  x-form x-alert {
    max-width: 45%;
  }
}

@media (min-width: 992px) {
  x-form x-text-input {
    width: 400px;
  }

  x-form x-alert {
    width: 400px;
  }
}

